<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Dashboard</title>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <script>
        console.log("nike");
   function onLoad(id) {
        createChart(id);

        document.onclick = function () {
            var dropDownItems = document.getElementById("dropdown-items");
            if (dropDownItems) {
                dropDownItems.style.display = 'none';
            }
        }
    }
     function search(e){
         let keycode ;
         if(window.event){
             keycode = window.event.code;
         }
         else if(e){
             keycode = e.code
         }
         if(keycode == "Enter"){
             SearchSubmit();
         }
     }
    function SearchSubmit() {
        var inputSearch = document.getElementById("search-input");
        var query = inputSearch.value;

        if (query !== '') {
            fetch(`/groups-data?query=${query}`)
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    var dropDownItems = document.getElementById("dropdown-items");
                    dropDownItems.innerHTML = `
                            ${data.map((item) => {
                        return `<a class="dropdown-item" href="/group/${item.id}">${item.name}</a>`
                    }).join('')}
                        `
                    dropDownItems.style.display = "flex";
                })
                .catch((err) => {
                    console.log(err);
                });
        }

    }

    function createChart(id) {
        fetch(`/sessioninfo/${ id }/`)
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                let xVals = [];
                let yVals = [];

                for (let d of data) {
                    xVals.push(d.time);
                    yVals.push(d.level);
                }
                new Chart("chart", {
                    type: "line",
                    data: {
                        labels: xVals,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(255,255,255,1.0)",
                            borderColor: "rgba(255,255,255,.5)",
                            data: yVals
                        }]
                    },
                    options: {
                        legend: { display: false },
                        scales: {
                            yAxes: [{ ticks: { min: 0, max: 12 } }],
                        }
                    }
                });
            })
            .catch((err) => {
                console.log(err);
            });
    }

    </script>
    <style>
     body {
         font-family: system-ui, -apple-system, BlinkMacSystemFont,Ubuntu,Arial, sans-serif;
         margin: 0;
         padding: 0;
         background-color: #000000;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     header {
         background-color: #333;
         color: white;
         padding: 10px;
         text-align: center;
         width: 100%;
     }

     nav {
         background-color: #555;
         padding: 10px;
         width: 100%;
     }

     nav a {
         color: white;
         text-decoration: none;
         padding: 10px;
         margin: 0 10px;
     }

     nav a:hover {
         color: #f77062;
     }

     .container {
         display: flex;
         width: 100%;
         max-width: 1000px;
         background-color: #131313;
         border-radius: 8px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         overflow: hidden;
         margin-top: 20px;
         justify-content: space-between;
     }

     #groupDetailsSection,
     #graphSection {
         flex: 1;
         padding: 20px;
     }

     form {
         margin-bottom: 20px;
         background-color: #1d1d1d;
         padding: 20px;
         border-radius: 8px;
         box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
         /*display: none;*/
         /* Initially hide the form */
     }

     label {
         color: snow;
         display: block;
         margin-bottom: 8px;
     }

     input,
     textarea {
         padding: 10px;
         margin: 5px 0;
         width: calc(100% - 20px);
         border: 1px solid #333;
         border-radius: 4px;
         background-color: #333;
         color: snow;
         resize:none;
     }
     button {
         font-size: 1rem;
         background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
         padding: 14px 32px;
         border: none;
         border-radius: 4px;
         color: #fff;
         margin-top: 2rem;
         cursor: pointer;
         position: relative;
         transition: all 0.35s;
         outline: none;
     }

     button:hover {
         background: #4837ff;
         transition: all 0.3s ease;
     }

     h2 {
         color: snow;
         text-align: center;
     }

     ul {
         list-style: none;
         padding: 0;
         margin: 0;
     }

     li {
         background-color: #ddd;
         margin: 5px 0;
         padding: 10px;
         border-radius: 4px;
         color: #333;
     }

     .divider {
         border-top: 2px solid #555;
         margin: 20px 0;
     }

     .dropdown {
            position: relative;
    }

    .dropdown-items {
            position: absolute;
            flex-direction: column;
            background-color: white;
            left: 0;
            right: 0;
            z-index: 1;
            top: 46px;
            max-height: 180px;
            overflow: auto;
            display: none;
    }

    .dropdown-item {
            color: black;
        }

        button.search {
            margin-top: 0;
            margin-left: 1rem;
            padding: 10px 20px;
        }

        input.search-input {
            width: 200px;
            outline: none;
        }

    </style>
</head>

<body onload="onLoad(<%= typeof('id') !='undefined' ? id : 1%>);">

    <header>
        <h1>Group Dashboard</h1>
    </header>

    <nav style="display: flex;">
        <a href="/">Home</a>
        <a href="/groups">Groups</a>
        <div class="dropdown">
            <input type="text" onkeydown="search()" id="search-input" placeholder="Search" class="search-input">
            <div class="dropdown-items" id="dropdown-items"></div>
        </div>
        <button class="search" onclick="SearchSubmit()" id="search-submit">Search</button>
    </nav>

    <div class="container">
        <!-- Group Details Section -->
        <section id="groupDetailsSection">
            <h2>Group Details</h2>
            <ul id="groupDetailsList">
                <!-- Display group details dynamically here -->
                <li><strong>Name:</strong> <%=  typeof('group') !='undefined' ? group.name : "Group Name" %></li>
                <li><strong>Description:</strong> <%= typeof('group') !='undefined' ? group.description : "Group Description" %></li>
                <li class="group-members"><strong>Members:</strong>
                    <ul>
                        <% if(typeof('members') != 'undefined'){ %>
                            <% for(let member of members){ %>
                                <ul><%=member.firstname%> <%= member.lastname%></ul>
                            <%}%>
                        <%}%>
                    </ul>
                </li>
                <li><strong>Admin:</strong> <%= typeof('admin') !='undefined' ? admin.email : "Admin user"%></li>
            </ul>
            <form method="post" action="/group" >
                <input type="hidden" value="<%= typeof('username') !='undefined' ? username:'username'%>" name="username">
                <input type="hidden" name="groupname" value="<%= typeof('group') !='undefined' ? group.name:''%>">
                <input type="hidden" name="id" value="<%= typeof('id') !='undefined' ? id :'id'%>">
                
                <button id="leaveGroupBtn">Leave Group</button>
            </form>
        </section>

        <div class="divider"></div>

        <!-- Graph Section -->
        <section id="graphSection">
            <h2>Group Level</h2>
            <div id="graph">
                <canvas id="chart"  style="width:100%;max-width:250px"></canvas>
            </div>
        </section>
    </div>

    <!-- Dark-themed form for creating/joining a group -->
   

</body>

</html>
