<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Dashboard</title>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    
    <script type="text/javascript" src="/www/js/searchbar.js" defer></script>
    <script type="text/javascript" src="/www/js/creategraph.js" defer></script>
    <link rel="stylesheet" type="text/css"  href="/www/css/searchdropdown.css">
    <link rel="stylesheet" type="text/css" href="/www/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/www/css/styles.css">
    <script>
     
     function onLoad(id) {
         createChart(id);

         onLoadBar();
     }
     
    </script>
    <style>
     body {
         font-family: system-ui, -apple-system, BlinkMacSystemFont,Ubuntu,Arial, sans-serif;
         margin: 0;
         padding: 0;
         background-color: #000000;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

  

     .container {
         display: flex;
         width: 100%;
         max-width: 800px;
         background-color: #131313;
         border-radius: 8px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         overflow: hidden;
         margin-top: 20px;
         justify-content: space-between;
     }

     #groupDetailsSection,
     #graphSection {
         flex: 1;
         padding: 20px;
     }

     form {
         margin-bottom: 20px;
         background-color: #1d1d1d;
         padding: 20px;
         border-radius: 8px;
         box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
         /*display: none;*/
         /* Initially hide the form */
     }

     label {
         color: snow;
         display: block;
         margin-bottom: 8px;
     }

     input,
     textarea {
         padding: 10px;
         margin: 5px 0;
         width: calc(100% - 20px);
         border: 1px solid #333;
         border-radius: 4px;
         background-color: #333;
         color: snow;
         resize:none;
     }
     button {
         font-size: 1rem;
         background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
         padding: 14px 32px;
         border: none;
         border-radius: 4px;
         color: #fff;
         margin-top: 2rem;
         cursor: pointer;
         position: relative;
         transition: all 0.35s;
         outline: none;
     }

     button:hover {
         background: #4837ff;
         transition: all 0.3s ease;
     }

     h2 {
         color: snow;
         text-align: center;
     }

     ul {
         list-style: none;
         padding: 0;
         margin: 0;
     }

     li,.sessionslink {
         background-color: #ddd;
         margin: 5px 0;
         padding: 10px;
         border-radius: 4px;
         color: #333;
     }

     .divider {
         border-top: 2px solid #555;
         margin: 20px 0;
     }
     .sessionslink{
         display:block;
         text-decoration:none;
         
         cursor:pointer;
     }
     .sessionslink:hover{
         color:#f77062;
     }
     .profilelink{
         text-decoration:none;
         color:black;
     }
     .profilelink:hover{
         color:#f77062;
     }
     @media only screen and (max-width:800px){
         .container{
             flex-direction:column-reverse;

         }
         .divider{
             display:none;
         }
         #graph{
             display:flex;
             align-items:center;
             justify-content:center;
         }
     }
    

    </style>
</head>

<body onload="onLoad(<%= typeof id !='undefined' ? id : 1%>);">

    <header>
        <h1>Group Dashboard</h1>
    </header>

    <nav style="display: flex;">
        <a href="/">Home</a>
        <a href="/group">Create or Join Group</a>
        <div class="dropdown">

            <input type="text" onkeydown="search()" id="search-input" placeholder="Search for a group" class="search-input">

            <div class="dropdown-items" id="dropdown-items"></div>
        </div>
        <button class="search" onclick="SearchSubmit()" id="search-submit">Search</button>
    </nav>

    <div class="container">
        <!-- Group Details Section -->
        <section id="groupDetailsSection">
            <h2>Group Details</h2>
            
            <ul id="groupDetailsList">
                <!-- Display group details here -->
                
                <li><strong>Name:</strong> <%=  typeof('group') !='undefined' ? group.name : "Group Name" %></li>
                <li><strong>Description:</strong> <%= typeof('group') !='undefined' ? group.description : "Group Description" %></li>
                <li class="group-members"><strong>Members:</strong>
                    <ul>
                        <% if(typeof('members') != 'undefined'){ %>
                            <% for(let member of members){ %>
                                <ul><a class="profilelink" href="/userprofile/<%=member.id%>"><%=member.firstname%> <%= member.lastname%></a></ul>
                            <%}%>
                        <%}%>
                    </ul>
                </li>
                <li><strong>Admin:</strong> <%= typeof('admin') !='undefined' ? admin.email : "Admin user"%></li>
                <a class="sessionslink" href="/sessions/<%=id%>"><strong>Click here for this Group's Sessions</strong></a>
            </ul>
            <!-- <div class="join" style="display:flex; justify-content:space-between;"> -->
            <% if(typeof isAdmin != 'undefined' && isAdmin == false && typeof inGroup !='undefined' && inGroup==true){ %>
                <form method="post" action="/group" >
                <input type="hidden" value="<%= typeof('username') !='undefined' ? username:'username'%>" name="username">
                <input type="hidden" name="groupname" value="<%= typeof('group') !='undefined' ? group.name:''%>">
                <input type="hidden" name="id" value="<%= typeof('id') !='undefined' ? id :'id'%>">
                
                <button id="leaveGroupBtn">Leave Group</button>
                

                </form>
            <%}%>
            <!-- Join the group, if you aren't already in it -->
            <% if(typeof isAdmin != 'undefined' && isAdmin == false && typeof inGroup !='undefined' && inGroup==false){ %>
            <form method="post" action="/joingroup" >
                <input type="hidden" value="<%= typeof('username') !='undefined' ? username:'username'%>" name="username">
                <input type="hidden" name="group" value="<%= typeof('group') !='undefined' ? group.name:''%>">
                <input type="hidden" name="id" value="<%= typeof('id') !='undefined' ? id :'id'%>">
                
                <button id="leaveGroupBtn">Join Group</button>
                

            </form>

            <%}%>
            
            <% if(typeof isAdmin != 'undefined' && isAdmin==true){ %>
                
                <form method="POST" action="/editgroup" id="addGroupForm">
                    <input type="hidden" name="groupid" value="<%=group.id%>">
                    <label for="name">Edit Group Name:</label>
                    <input type="text" id="name" value="<%=group.name%>" name="name" required>

                    <label for="description">Edit Group Description:</label>
                    <textarea id="description" name="description" rows="4" required><%=group.description%></textarea>

                    <button type="submit">Save Info</button>
                </form>

                <form method="post" action="/changeowner" >
                    <input type="hidden" value="<%= typeof group != 'undefined' ? group.id : 1%>" name="groupid">
                    <% if(typeof('members') != 'undefined'){ %>
                        <select name="newowner">
                            <% for(let member of members){ %>
                                <% if(admin.email != member.email){ %>    
                                    <option value="<%=member.email%>"><%=member.firstname%> <%= member.lastname%></option>
                                <%}%>
                            <%}%>
                        </select>
                    <%}%>
                    <div>
                        <button id="changeGroupBtn">Change Group Owner</button>
                    </div>
                </form>

                <form method="post" action="/removeuser">
                    <input type="hidden" value="<%= typeof group != 'undefined' ? group.id : 1%>" name="groupid">
                    <% if(typeof('members') != 'undefined'){ %>
                        <select name="usertoremove">
                            <% for(let member of members){ %>
                                <% if(admin.email != member.email){ %>    
                                    <option value="<%=member.email%>"><%=member.firstname%> <%= member.lastname%></option>
                                <%}%>
                            <%}%>
                        </select>
                    <%}%>
                     <div>
                         <button id="removeGroupBtn">Remove User From Group</button>
                     </div>
                </form>
                <form method="post" action="/deletegroup">
                    <% if(typeof group != 'undefined'){ %>
                        <input type="hidden" value="<%=group.id%>" name="groupid">
                        <div>
                            <input style="display:inline;width:20px" type="checkbox" id="delete" name="delete" required>
                            <label style="display:inline-block;" for="delete">I understand this cannot be undone</label>
                            
                            
                        </div>
                        <div>
                            <button id="deleteGroupBtn">Delete Group</button>
                        </div>
                    <%}%>
                 </form>

            <%}%>
        </section>
        
        <div class="divider"></div>

        <!-- Graph Section -->
        <section id="graphSection">
            <h2>Group Level</h2>
            <div id="graph">
                <canvas id="chart"  style="width:100%;max-width:250px"></canvas>
            </div>
        </section>
    </div>

    <!-- Dark-themed form for creating/joining a group -->
   

</body>

</html>
